#back{
   background-image: url('https://img.freepik.com/premium-vector/hand-drawn-seamless-pattern-related-weather-theme-sun-clouds-snowflakes-wind-rain-moon-lightning-doodle-sketch-vector-illustration-background-design_333145-414.jpg');
   height:599px;
   position:flex;
   opacity:0.13;
}

#contents{
    margin-top:-430px;
    position:absolute;
    margin-left:420px;
    background-color:rgb(0, 155, 147);
    height:250px;
    border-radius:10px;
    width:35%;
}

#title{
    margin-top:-550px;
    position:absolute;
    margin-left:435px;
    font-family:cursive;
    color:rgb(0, 155, 147);
}

#temp{
    height:35px;
    border:none;
    border-radius:10px;
    text-align: center;
    margin-left:72px;
    margin-top:15px;
    width:70%;
}

#temp_diff{
    border:none;
    border-radius:13px;
    text-align: center;
    margin-left:115px;
    margin-top:15px;
    width:50%;
    height:30px;
}

#submit{
    border:none;
    border-radius:15px;
    color:white;
    background-color:rgb(0, 128, 121);
    height:35px;
    width:75px;
    margin-left:190px;
}

#resultContainer{
    margin-left:205px;
    margin-top:23px;
    position:absolute;
    color:white;
    font-size:30px;
}